<%-layout("./index.ejs")%>
  <div class="container">
    <div class="container-header">
      <div class="container-header__info">
        <h3>Applications Submitted</h3>
        <p>List of Active Applications Submitted</p>
      </div>
      <div class="container-header__search">
        <i class="fa-solid fa-arrows-rotate"></i>
        <input type="text" placeholder="Find">
      </div>
    </div>

    <div class="info-table-container">
      <table class="info-table">
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>For Requisition</th>
          <th>Submitted On</th>
          <th>App Status</th>
          <th>App Step</th>
        </thead>
        <%for(let i=0; i<=50; i++){%>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>sample@example.com</td>
            <td>1234567890</td>
            <td>Car Advisor</td>
            <td>Nov 18, 2024</td>
            <td>
              <button>Active</button>
            </td>
            <td>Applied</td>
          </tr>
        <%}%>
      </table>
    </div>
  </div>
