<header>
  <div class="header-company-info">
    <h1>2020TECHNOLOGIES</h1>
  </div>
  <div class="search-bar">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search Keywords..." />
    <i class="fa-solid fa-arrows-rotate"></i>
  </div>
  <div class="header-nav-options">
    <p onclick="window.location.href='/signup'">DEEPANSHU</p>
    <p onclick="window.location.href='/logout'">LOGOUT</p>
  </div>
</header>
