<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/companies.css">
    <link rel="stylesheet" href="/css/jobs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </head>

  <body>
    <%-include("./header.ejs")%>
      <div class="content-area">
        <div class="section-one"></div>
        <div class="section-two"></div>
      </div>
      <div class="flash" id="flash">
        <h4><%=success%></h4>
      </div>
      <div id="formModal" class="modal">
        <div class="modal-content"></div>
      </div>
      <script src="/js/script.js"></script>
    </body>

  </html>
