<form>
  <h2>Job Description<i class="fa-solid fa-xmark" id="closeFormButton"></i>
  </h2>
  <textarea name="jobDescription" rows="20" disabled="disabled"><%= jobDescription %></textarea>
  <button onclick="addApplicationForm()">Apply for the role</button>
</form>
